# blacklist all
*

# whitelist things to copy
!CMakeLists.txt
!SetDefaults.cmake
!src/
!apps/
!libs/
!test/
!examples/
!etc/

# blacklist generated code
libs/micm-collection/configured_tags/*
libs/micm/src/preprocessor_output/*
