[submodule "libs/musica-core"]
	path = libs/musica-core
	url = https://github.com/NCAR/musica-core.git
[submodule "libs/micm"]
	path = libs/micm
	url = https://github.com/NCAR/micm.git
[submodule "libs/micm-preprocessor"]
	path = libs/micm-preprocessor
	url = https://github.com/NCAR/micm-preprocessor.git
[submodule "libs/micm-collection"]
	path = libs/micm-collection
	url = https://github.com/NCAR/micm-collection.git
[submodule "libs/musica-photo-decomp-rates"]
	path = libs/musica-photo-decomp-rates
	url = https://github.com/NCAR/musica-photo-decomp-rates.git
[submodule "libs/partmc"]
	path = libs/partmc
	url = https://github.com/compdyn/partmc.git
