[submodule "libs/musica-core"]
	path = libs/musica-core
	url = https://github.com/NCAR/musica-core.git
[submodule "libs/micm"]
	path = libs/micm
	url = https://github.com/NCAR/micm.git
[submodule "libs/music-box-interactive"]
  path = libs/music-box-interactive
  url = https://github.com/NCAR/music-box-interactive.git
[submodule "libs/camp"]
	path = libs/camp
	url = https://github.com/open-atmos/camp.git
