name: CI Tests

on: 
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  build:
    continue-on-error: true
    strategy:
        matrix:
          os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}
    steps:

    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - uses: actions/setup-python@v5
      with:
        python-version: '3.9'
        cache: 'pip' 

    - name: Install this package
      run: pip install -e '.[dev]'
    
    - name: Run tests and generate coverage reports
      run: pytest --cov tests/
    
    - name: Upload coverage reports to codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: coverage.info
        fail_ci_if_error: false
        
    - name: Run the smoke tests
      run: |
        music_box -c src/acom_music_box/examples/configs/analytical/my_config.json -o output.csv
        music_box -e Analytical -o output.csv
        music_box -e Analytical -o output.csv -vv --color-output
        waccmToMusicBox waccmDir="./sample_waccm_data" date="20240904" time="07:00" latitude=3.1 longitude=101.7

    - name: Check for config.zip
      if: runner.os != 'Windows'
      run: |
        if [ -f "./config.zip" ]; then
          echo "config.zip created successfully"
        else
          echo "config.zip not found"
          exit 1
        fi

    - name: Check for config.zip (Windows)
      if: runner.os == 'Windows'
      run: |
        if (Test-Path -Path "./config.zip") {
          Write-Output "config.zip created successfully"
        } else {
          Write-Output "config.zip not found"
          exit 1
        }
      shell: pwsh