name: CI Tests

on: 
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  build:
    continue-on-error: true
    strategy:
        matrix:
          os: [ubuntu-latest, macos-latest, windows-latest]
          python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]

    runs-on: ${{ matrix.os }}
    steps:

    - uses: actions/checkout@v4
      with:
        submodules: recursive

    # Only needed when using a musica branch, not a PyPI version
    - name: Install dependencies
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install -y libnetcdf-dev netcdf-bin libnetcdff-dev liblapack-dev
    
    # Only needed when using a musica branch, not a PyPI version
    - name: Install dependencies
      if: matrix.os == 'macos-latest'
      run: |
        brew install netcdf netcdf-fortran lapack

    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip' 

    - name: Install this package
      run: |
        echo "Installing this package..."
        date
        pip install -e '.[dev]'
      env: 
        FC: gfortran-14

    - name: Run tests and generate coverage reports
      run: pytest --cov src/
    
    - name: Upload coverage reports to codecov
      if: runner.os == 'Linux'
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: coverage.info
        
    - name: Run the smoke tests
      run: |
        music_box -c src/acom_music_box/examples/configs/analytical/my_config.json -o output.csv
        music_box -e Analytical -o output.csv
        music_box -e Analytical -o output.csv -vv --color-output
        waccmToMusicBox --waccmDir "./sample_waccm_data" --date "20240904" --time "07:00" --latitude 3.1 --longitude 101.7
        waccmToMusicBox --wrfchemDir "./sample_waccm_data" --date "20250820" --time "08:00" --latitude 47.0,49.0 --longitude "'-123.0,-121.0'"

      shell: pwsh
