name: CI Tests

on: 
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  build:
    continue-on-error: true
    strategy:
        matrix:
          os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}
    steps:

    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - uses: actions/setup-python@v5
      with:
        python-version: '3.9'
        cache: 'pip' 

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Install this package
      run: pip install -e '.[dev]'
    
    - name: Run pytest
      run: pytest
    
    - name: Run the smoke tests
      run: |
        music_box -c src/acom_music_box/examples/configs/analytical/my_config.json -o output.csv
        music_box -e Analytical -o output.csv
        music_box -e Analytical -o output.csv -vv --color-output


