name: smoke

on: [push, workflow_dispatch]

jobs:
  build:
    strategy:
        matrix:
          os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}
    steps:

    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - uses: actions/setup-python@v5
      with:
        python-version: '3.9'
        cache: 'pip' 

    - run: pip install -r requirements.txt

    - name: Install this package
      run: pip install -e .

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    
    - name: Run the smoke tests
      run: |
        music_box configFile="tests\configs\analytical_config\my_config.json" outputDir="tests\configs\analytical_config"

